[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tailwind = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
django-extensions = "*"
werkzeug = "*"
attrs = "*"
django-csp = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
