{% extends "base_home.html" %}
{% load static %}
{% block title %}
  Register Screen
{% endblock title %}
{% block content %}
<main class="single_section">
    <div class="form_wrapper">
        <h1 class="title signup">Register Screen</h1>
        <div class="form-container">
            <div class="form-inner">
                <form class="signup" method="post">
                    {% csrf_token %}
                    {% for field  in form  %}
                        <div class="field_wrapper">

                          <div class="field">
                            {{ field.label_tag }}
                            {% if field.help_text and field.errors %}
                              <div class="field_help">
                                {{ field.help_text}}
                              </div>
                            {% endif %}
                            {{ field }}
                          </div>
                          {% if field.errors %}
                            <div class="field_errors">
                              <strong>Errors: </strong>
                              {{ field.errors }}
                            </div>
                          {% endif %}
                        </div>
                    {% endfor %}
                    <div class="field btn">
                        <input class="btn-layer" type="submit" value="Create">
                        <a class="btn-layer btn-cancel" href="/">Cancel</a>
                    </div>
            </form>
        </div>
    </div>
</div>
  
</main>
{% endblock content %}
