{% extends "base_home.html" %}
{% load static %}
{% block title %}
  List Screens 
{% endblock title %}

{% block content%}
<main class="single_section">
  <div class=table_wrapper>
  <table id="screens_table">
    <thead>
      <tr>
        <th>Screen name</th>
        <th>Admin</th>
        <th>Alert</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for screen in screens %}
        <tr>
          <td>{{screen.name}}</td>
          <td>{{screen.admin}}</td>
          <td>Inactive</td>
          <td>
            <a href="">Lauch</a>
          </td>
        </tr>
      
      {% endfor %}
    </tbody>
  </table>
  </div>
  
</main>

{% endblock %}
