[Unit]
Description=smart screen socket
After=network.target 
[Service]
User=root
ExecStart=/usr/bin/bash /root/smart_screen_server/smartscreen_server/config/daphne.bash
[Install]
WantedBy=multi-user.target
