[Unit]
Description=smart screen socket
After=network.target 
[Service]
User=manager
ExecStart=/usr/bin/bash /home/manager/smart_screen_server/smartscreen_server/config/daphne.bash
[Install]
WantedBy=multi-user.target
