{% extends "base.html" %}
{% load static %}
{% block title %}
    Signup
{% endblock title %}
{% block include_files %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock include_files %}
{% block content %}
    <div class="wrapper">
        <div class="title-text">
            <div class="title signup">Signup Form</div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form class="signup" method="post">
                    {% csrf_token %}
                    {% for field  in form  %}
                        <div class="field_wrapper">

                          <div class="field">
                            {{ field.label_tag }}
                            {% if field.help_text and field.errors %}
                              <div class="field_help">
                                {{ field.help_text}}
                              </div>
                            {% endif %}
                            {{ field }}
                          </div>
                          {% if field.errors %}
                            <div class="field_errors">
                              <strong>Errors: </strong>
                              {{ field.errors }}
                              {% comment %} <ul> {% endcomment %}
                              {% comment %}   {% for err in field.errors %} {% endcomment %}
                              {% comment %}   <li>{{err}}</li> {% endcomment %}
                              {% comment %}   {% endfor %} {% endcomment %}
                              {% comment %} </ul> {% endcomment %}
                            </div>
                          {% endif %}
                        </div>
                    {% endfor %}
                    <div class="field btn">
                        {% comment %} <div class="btn-layer"></div> {% endcomment %}
                        <input class="btn-layer" type="submit" value="Signup">
                    </div>
                    <div class="signup-link">
                    Already have an account? <a href="login">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
