{% extends "base_home.html" %}
{% load static %}
{% block title %}
  Profile
{% endblock title %}
{% block include_files %}
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
{% endblock include_files %}
{% block content %}
  <main class="single_section">
    <div class="data-wrapper">
      <h1 class="title">Profile </h1>
        <div class="data-container">
          <div class="data-member">
            <h2 class="data-label">Email</h2>
            <p class="data-value">{{object.email}}</p>
          </div>
          <div class="data-member">
            <h2 class="data-label">Username</h2>
            <p class="data-value">{{object.username}}</p>
          </div>
          <div class="data-member">
            <h2 class="data-label">First_name</h2>
            <p class="data-value">{{object.first_name}}</p>
          </div>
          <div class="data-member">
            <h2 class="data-label">Last_name</h2>
            <p class="data-value">{{object.last_name}}</p>
          </div>
          <div class="data-member">
            <h2 class="data-label">Screen admin</h2>
            <p class="data-value"> {% if  object.is_screen_admin %}Yes {% else %} No {% endif %} </p>
          </div>
          <div class="data-member">
            <h2 class="data-label">Screen receptionist</h2>
            <p class="data-value"> {% if  object.is_screen_receptionist %}Yes {% else %} No {% endif %} </p>
          </div>
          <a class="btn" href="{% url 'update' %}">Update</a>
      </div>
    </div>
  </main>
{% endblock content %}
